@import-normalize;

html {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
    helvetica neue, sans-serif;
  font-size: 16px;
}

fieldset {
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid white;
}

img {
  max-width: 100%;
}
